.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.menu {
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
  }
  li:first-child a:hover {
    border-bottom: 1px solid map-get($colors, "secondary");
  }
}
