$colors: (
  "primary": #39cdcc,
  "secondary": #213f7d,
  "text": #333333,
  "subtitle": #666666,
  "white": #ffffff,
  "black": #000000,
  "gray": "#f3f4f6",
);

$weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);

$fonts: (
  "text-xs": (
    0.75rem,
    1rem,
  ),
  "text-sm": (
    0.875rem,
    1.25rem,
  ),
  "text-base": (
    1rem,
    1.5rem,
  ),
  "text-lg": (
    1.125rem,
    1.75rem,
  ),
  "text-xl": (
    1.25rem,
    1.75rem,
  ),
  "text-2xl": (
    1.5rem,
    2rem,
  ),
  "text-3xl": (
    1.875rem,
    2.25rem,
  ),
  "text-4xl": (
    2.25rem,
    2.5rem,
  ),
  "text-5xl": (
    3rem,
    1,
  ),
  "text-6xl": (
    3.75rem,
    1,
  ),
  "text-7xl": (
    4.5rem,
    1,
  ),
  "text-8xl": (
    6rem,
    1,
  ),
  "text-9xl": (
    8rem,
    1,
  ),
);

// sizes
$sizes: (
  0: 0,
  0\.5: 0.125,
  1: 0.25,
  1\.5: 0.375,
  2: 0.5,
  2\.5: 0.625,
  3: 0.75,
  3\.5: 0.875,
  4: 1,
  5: 1.25,
  6: 1.5,
  7: 1.75,
  8: 2,
  9: 2.25,
  10: 2.5,
  11: 2.75,
  12: 3,
  14: 3.5,
  16: 4,
  20: 5,
  24: 6,
  28: 7,
  32: 8,
  36: 9,
  40: 10,
  44: 11,
  48: 12,
  52: 13,
  56: 14,
  60: 15,
  64: 16,
  72: 18,
  80: 20,
  96: 24,
);

$maxwidths: (
  0: 0rem,
  none: none,
  xs: 20rem,
  sm: 24rem,
  md: 28rem,
  lg: 32rem,
  xl: 36rem,
  2xl: 42rem,
  3xl: 48rem,
  4xl: 56rem,
  5xl: 64rem,
  6xl: 72rem,
  7xl: 80rem,
  full: 100%,
  min: min-content,
  max: max-content,
  fit: fit-content,
  prose: 65ch,
  screen-sm: 640px,
  screen-md: 768px,
  screen-lg: 1024px,
  screen-xl: 1280px,
  screen-2xl: 1536px,
);
